body {
    font-family: 'Segoe UI', sans-serif;
    background-color:greenyellow;
}

p {
    font-family:'Segoe UI',sans-serif;
    overflow:scroll;
    height:100pt;
    width:500pt;
    background-color:white;
}

span {
    font-style: italic;
}
